<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Dropdown Demo</title>

    <script src="angular1.5.js"></script>
    <script>
        var module1 = angular.module("app", []);
        var ctrl = function ($scope) {
            $scope.cities = ["Vizag", "Hyd", "Bangalore", "Chennai"];
            $scope.city = "Chennai";
            $scope.options =
                [   {name: 'Java', fee: 5000},
                    {name: 'Java EE', fee: 6000},
                    {name: 'Oracle', fee: 4500}
                ];

            $scope.course = $scope.options[2];
        };
        module1.controller("ctrl", ['$scope', ctrl]);
    </script>
</head>
<body ng-app="app">
    <div ng-controller="ctrl">
        select city 
        <select ng-model="city" ng-options="value for value in cities"></select>
        <p/>
        <select ng-options="obj.name for obj in  options track by obj.fee" ng-model="course"></select>
        <p />
        {{ course | json }}
    </div>
   
</body>
</html>
